nav.navbar {
    background-color: transparent !important;
    
}

a.nav-link {
    color: red !important;
    background-color: rgba(0, 0, 0, 0.3);
}

button.navbar-toggler {
    color: red;
}

/* #navBorder {
border-bottom: 2px solid red;
} */

img.rounded-circle {
    height: 50px;
}

