<div class="page">
  <app-header [activeId]='4'></app-header>

  <div class="container">
    <!-- EXTRA HEIGHT -->
    <div style="height: 5vh;"></div>
    <!-- ?  ======================== -->
    <div class="row">
      <h1 class="mx-auto mb-4">LOGIN</h1>
      <button class="btn btn-md btn-outline-warning m-1" (click)="onSwitchMode()">Switch mode</button>
    </div>

    <!-- !   FORM  ===================== -->
    <!-- EKSTRA HEIGHT -->
    <div style="height: 5vh;"></div>
    <!-- EKSTRA HEIGHT -->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form">
      <!--& First form input start -->
      <div class="form-group row my-5">
        <div class="col-lg-2 col-md-3 col-5 prepend">
          <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg text-danger">Username</label>
        </div>
        <div class="col-lg-10 col-12">
          <input type="text" class="form-control form-control-lg" id="email" placeholder="Email"
            formControlName="email">
          <span *ngIf="!email.valid && email.touched" class="help-block">
            <span *ngIf="email.errors.required">Email is required</span>
            <span *ngIf="email.errors.email">Enter a valid email format</span>
          </span>
        </div>
      </div>
      <!--& First form input end -->
      <!--? Second form input start -->
      <div class="form-group row my-5">
        <div class="col-lg-2 col-md-3 col-5 prepend">
          <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg text-danger">Email</label>
        </div>
        <div class="col-lg-10 col-12">
          <input type="password" class="form-control form-control-lg" id="password" placeholder="Password"
            formControlName="password">
          <span *ngIf="!password.valid && password.touched && password.errors.required" class="help-block">
            Password is required
          </span>
          <span *ngIf="!password.valid && password.touched && password.errors.minlength" class="help-block">
            Password should be atleast 7 characters long
          </span>
        </div>
      </div>
      <!--? Second form input start -->
      <!--! Third form input start -->
      <button [disabled]="!loginForm.valid" (mouseover)="hover=true" (mouseleave)="hover=false" [ngStyle]="{backgroundColor: hover ? 'black' : 'rgba(0, 0, 0, 0.5)', color: hover ? 'rgb(200, 255, 255)' : 'rgba(200, 255, 255, 0.5)',
       textDecoration: !loginForm.valid ? 'line-through' : 'none'}" class="btn btn-block btn-lg mb-3"
        type="submit">Login</button>
    </form>
    <div style="height: 5vh;"></div>
  </div>
</div>
