// #navContainer {
  div.container-fluid {

    nav.navbar {
      background-color: transparent !important;
      height: 15vh;

      // ? LOGO AND TITLE
      a.navbar-brand {

        span {
          font-weight: bold;
          font-size: xx-large;
          color: rgb(200, 200, 200);
          transform: rotateZ(30deg) !important;
          // transform: rotate(-50deg);
          text-shadow: 1px 1px blue,
            2px 2px blue,
            3px 3px blue,
            4px 4px blue,
            5px 6px blue,
        }



        img.rounded-circle {
          height: 50px;
          width: 50px;
        }
      }

      app-biger-screen-header {
        margin-left: auto;
      }

    }
  }
// }
