<div #navContainer class="container-fluid" (window:resize)="onResize($event)">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <!-- ? LOGO AND TITLE =============== -->

    <a class="navbar-brand" href="#">
      <img src="../../assets/logo.jpeg" width="30" height="30" class="d-inline-block align-top rounded-circle" alt=""
        loading="lazy">
      <span class="mx-2">WAVE RSM</span>
    </a>
    <!-- ? ============================== -->

    <app-biger-screen-header *ngIf="srcWidth >= 990" [activeId]="activeId"></app-biger-screen-header>
    <app-small-screen-header *ngIf="srcWidth < 990" [activeId]="activeId"></app-small-screen-header>
  </nav>


</div>
