<!-- =============== -->
<div class="body">
  <!-- * FIRST SECTION -->
  <div class="first-section">
    <!-- ? Header -->
    <app-header [activeId]='0'></app-header>
    <!-- ? Header -->
    <div class="first-card">
      <h1>Home Screen</h1>
      <!--  *ngIf="authService.allowAdmin(user)" -->
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid molestiae quisquam quidem ut
        nihil,
        maiores nam quae, ipsam odio sint commodi</p>
    </div>
    <div class="spacer"></div>
    <div class="first-section-inner"></div>
  </div>


  <!-- & SECOND SECTION -->
  <div class="row second-section align-items-center">
    <div class="second-card">
      <h1>Home Screen</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid molestiae quisquam quidem ut
        nihil,
        maiores nam quae, ipsam odio sint commodi</p>
    </div>
  </div>

  <!-- ! THIRD SECTION -->
  <div class="row third-section align-items-center justify-content-end">
    <div class="third-card">
      <h1>Home Screen</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid molestiae quisquam quidem ut
        nihil,
        maiores nam quae, ipsam odio sint commodi</p>
    </div>
  </div>
  <!-- * FOOTER  -->
  <app-footer></app-footer>
</div>
