<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>forex-app-test</title>
</head>

<body>
  <div #docBody>

    <!-- <app-home-screen></app-home-screen> -->

    <!-- <app-header></app-header> -->
    <router-outlet></router-outlet>

    <!-- <button class="btn btn-danger" (click)="onClick()"> Click</button> -->
  </div>

</body>

</html>
