<!--  )===========================================( -->
<div class="body">

  <div *ngIf="post" class="container-fluid pt-5">

    <app-header [activeId]='2'></app-header>

    <!-- !  TITLE ==================== -->
    <div style="height: 5vh;"></div>
    <div class="row justify-content-center">
      <h1 class="display-2"> POST DETAILS </h1>
    </div>
    <div style="height: 7vh;"></div>
    <!-- !  TITLE ==================== -->


    <div class="row">
      <!-- ? First Column ========== -->
      <div class="col-lg-9 post-detail-container">
        <div class="post-border">
          <div class="row px-3">
            <h1 class="mr-auto"> {{ post.title }} </h1>
            <p class="dateTime"> Published {{ post.dateTime }}</p>
          </div>
          <img *ngIf="mode=='photos'" src="{{ post.imgUrl }}" alt="img" class="w-100">
          <div *ngIf="mode=='videos'" class="iframe-container">
            <iframe width="853" height="480" [src]="sanitizeUrl(post.imgUrl)" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
          <p class="py-4 px-4 desc"> {{ post.description }} </p>
        </div>
      </div>
      <!-- ? First Column ========== -->

      <!-- * Second Column  COMMENTS============ -->
      <div class="col-lg-3 my-3 p-3 comments-container">
        <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="300" (scrolled)="onScrolled()"></div>
        <h1>Comments</h1>
        <div class="form-group">
          <label for="exampleInputEmail1">Add Comment</label>
          <input type="email" class="form-control" id="exampleInputEmail1">
        </div>
        <div *ngFor="let num of [1,2,3,4,5,6,7,8,9,10,11,12,13]" class="row comment justify-content-start border my-2">
          <div class="row w-100 justify-content-around">
            <h4 class="my-0"> Author </h4>
            <span class="">Text</span>
          </div>

          <p class="comment-text"> This is a comment, just a random test version</p>
        </div>
      </div>
      <!-- * Second Column  COMMENTS============ -->
    </div>

    <div style="height: 10vh;"></div>

  </div>

  <app-footer></app-footer>


</div>
